<% include ./partials/header %>

<h1>Index Page</h1>

<% blogs.forEach(function(blog){ %>
  <div class="ui main container segment">
    <h2> <%= blog.title %> </h2>  
    <img class="ui centered rounded image" src="<%= blog.image%>" style="max-height: 400px;">
    <span> <%= blog.created %> </span>
    <p> <%- blog.body.substring(0, 100) %>... </p>
    <a href="/blogs/<%= blog._id %>"><button class="ui primary button">View</button></a>
    <a href="/blogs/<%= blog._id %>/edit"><button class="ui red button">edit</button></a>
  </div>
<% }); %>

<% include ./partials/footer %>