<% include ./partials/header %>

<div class="ui main text raised container segment">
    <div class="ui huge header"><h2><%= blog.title %> </h2></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>"></img>
        </div>
        <div class="content">
            <span><%= blog.created %></span>
        </div>
        <div class="description">
            <p><%- blog.body %></p>
        </div>
    </div>
    <a href="/blogs"><button class="ui primary button">Back</button></a>
    <a href="/blogs/<%= blog._id %>/edit"><button class="ui red button">Edit</button></a>
    <form class="ui form" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST" style="float:right">
        <button class="ui red basic button">Delete</button></a>        
    </form>
    
</div>

<% include  ./partials/footer %>